body{
background-color:green;
}
.studhead{
color:red;
text-align:center;
}
.mytable{
position:absolute;
left:30%;
padding:10px;
}
.btn{
position:absolute;
left:35%;
top:35%;
}
.btn input{
width:150px;
}
.box{
width:500px;

}